<div class="container-fluid container-diy">
<div class="container">
  <h3>当前订单</h3>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <%= link_to new_account_order_path do %>
      <div class="box-no-shadow text-center">
        <h3><span id="add-icon-color" class="glyphicon glyphicon-plus"></span></h3>
        <h5>添加一个新的设计委托</h5>
      </div>
      <% end %>
    </div>
    <% @orders.each do |order| %>
    <% if order.aasm_state != "completed" %>
        <%= link_to account_order_path(order) do %>
        <div class="col-md-3">

          <div class="box text-center">
            <h4><%= truncate(order.title, length:10) %></h4>
            <%= render partial: "common/order_state_translate", locals: {order: order} %>
            <div class="margin-set">
              <p><%= order.state_cn_user %></p>
              <p><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
            </div>
          </div>

          <%= render_notification_red_dot(order) %>

        </div>

        <% end %>
      <% end %>
      <% end %>
    </div>
    <h3>已完成订单</h3>
    <hr>
    <div class="row">
      <% @orders.each do |order| %>
        <% if order.aasm_state == "completed" %>
          <%= link_to account_order_path(order) do %>
            <div class="col-md-3">
          
              <div  class="box text-center">
                <h4><%= truncate(order.title, length:10) %></h4>
                <hr>
                <p><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
              </div>

              <%= render_notification_red_dot(order) %>

            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
  </div>
