<div class="container">
  <h3>当前订单</h3>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <!-- <a href='<%= new_account_order_path %>'> -->
      <%= link_to new_account_order_path do %>
      <button type="button"  class="project-new btn btn-primary-diy btn-block">
          <h4><span class="glyphicon glyphicon-plus"></span></h4> 添加一个新的设计委托
      </button>
       <% end %>
     </div>
    <% @orders.each do |order| %>
      <% if order.aasm_state != "completed" %>
        <%= link_to account_order_path(order) do %>
          <div class="col-md-3">
            <div  class="project button-height text-center btn btn-block thumbnail">

              <h4><%= truncate(order.title, length:10) %></h4>
              <hr>

                <div style="background-image:url('https://ooo.0o0.ooo/2016/11/22/5833f41979cd3.png')" class="project-img">
                </div>

              <p><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>

              <p><%= order.state_cn %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <h3>已完成订单</h3>
    <hr>
    <div class="row">
      <% @orders.each do |order| %>
        <% if order.aasm_state == "completed" %>
          <%= link_to account_order_path(order) do %>
            <div class="col-md-3">
              <div  class="project button-height text-center btn btn-block thumbnail">
                <h4><%= truncate(order.title, length:10) %></h4>
                <hr>
                  <div style="background-image:url('https://ooo.0o0.ooo/2016/11/22/5833f41979cd3.png')" class="project-img">
                  </div>
                <p><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
