


<div class="container">
	<%= simple_form_for [:account, @order] do |f| %>
	<div class="row">
		<h3>设计类型</h3>
		<hr>
		<div class="text-center font-gray">
		<div class="col-md-4">
			<h4>LOGO商标</h4>
			<%= radio_button_tag "order[preference_type]", "LOGO商标" %>
		</div>
		<div class="col-md-4">
			<h4>PPT演示文稿</h4>
			<%= radio_button_tag "order[preference_type]", "PPT演示文稿", checked = true %>
		</div>
		<div class="col-md-4">
			<h4>Web页面设计</h4>
			<%= radio_button_tag "order[preference_type]", "Web页面设计" %>
			<br>
			<br>
			<br>
		</div>
	</div>
	</div>

	<div class="row">
		<h3>设计信息</h3>
		<hr>
		<div class="col-md-12 font-gray">
			<%= f.input :title, label: "项目名称", input_html: { class: "form-control"}, placeholder: '给您的项目起一个容易辨识的名字吧' %>
			<br>
			<%= f.input :description, label: "设计说明", input_html: { class: "form-control"}, placeholder: '您项目的说明，清楚的描述可以让设计师更加了解您的需求' %>
			<br>
			<%= f.input :style_and_regulation, label: "风格 & 规格", input_html: { class: "form-control"}, placeholder: '您需要的作品的风格是怎样的？图片的分辨率有特殊要求吗？' %>
			<br>
			<div class="input-group">
					<%= f.label :需设计的页数 %>
					<%= f.number_field :product_quantity, value: 1, class: "form-control", min: 1 %>
			</div>
			<br>
			<br>
			<%= f.input :image, label: "为设计师提供参考图片", as: :file %>

			<br>
			<br>
		</div>
	</div>

	<div class="row">
		<h3>订单概要</h3>
		<hr>
		<div class="text-center font-gray">
			<div class="col-md-4">
				<h4>价格</h4>
				￥ <span id="total_price", class="total_price">500</span> 元
			</div>
			<div class="col-md-4">
				<h4>预计交付时间</h4>
					<% 	t = Time.now + (1*7*24*60*60) %>
				  <%= f.label t.strftime("%Y年%m月%d日") %>
			</div>
			<div class="col-md-4">
				<h4>设计类型</h4>
					<span id="design_type">PPT演示文稿</span>
			</div>
		</div>
	</div>



	<div class="row">
		<br>
		<br>
		<div class="col-md-12 text-center">
			<%= f.submit "提交设计委托", disable_with: "Submitting...", class: "btn btn-primary btn-lg"%>
		</div>
	</div>
	<% end %>
</div>


<script>
	$(document).ready(function(){

  $("#order_product_quantity").change(function() {

    unit_price = 0;

    if ($("#order_preference_type_LOGO__").is(":checked")) {
      unit_price = 2000;
    }
    if ($("#order_preference_type_PPT____").is(":checked")) {
      unit_price = 500;
    }
    if ($("#order_preference_type_Web____").is(":checked")) {
      unit_price = 1000;
    }
    quantity =  parseInt($("#order_product_quantity").val());
    $("#total_price").text(unit_price * quantity);

  });



  $("#order_preference_type_LOGO__").click(function() {
    unit_price = 2000;
    quantity =  parseInt($("#order_product_quantity").val());
    $("#total_price").text(unit_price * quantity);
    $("#design_type").text("LOGO商标");
    //获得第一个radio的“单价”属性中的值
    //获得“需要的页数”控件中“页数”的值
    //获得“total_price”这个text element，然后改变他的text属性，计算结果 = 单价*页数
  });

  $('#order_preference_type_PPT____').click(function() {
    unit_price = 500;
    quantity =  parseInt($("#order_product_quantity").val());
    $("#total_price").text(unit_price * quantity);
      $("#design_type").text("PPT演示文稿");
    //获得第二个radio的“单价”属性中的值
    //获得“需要的页数”控件中“页数”的值
    //获得“total_price”这个text element，然后改变他的text属性，计算结果 = 单价*页数
  });

  $('#order_preference_type_Web____').click(function() {
    unit_price = 1000;
    quantity =  parseInt($("#order_product_quantity").val());
    $("#total_price").text(unit_price * quantity);
      $("#design_type").text("Web页面设计");
    //获得第三个radio的“单价”属性中的值
    //获得“需要的页数”控件中“页数”的值
    //获得“total_price”这个text element，然后改变他的text属性，计算结果 = 单价*页数
  });


});
</script>
