
<div class="container">
	<%= simple_form_for [:account, @order] do |f| %>
	<div class="row">
		<h3>设计类型</h3>
		<hr>
		<div class="text-center font-gray">
		<div class="col-md-4">
			<h5>LOGO商标</h5>
			<%= radio_button_tag "order[preference_type]", "LOGO商标" %>
		</div>
		<div class="col-md-4">
			<h5>PPT演示文稿</h5>
			<%= radio_button_tag "order[preference_type]", "PPT演示文稿", checked = true %>
		</div>
		<div class="col-md-4">
			<h5>Web页面设计</h5>
			<%= radio_button_tag "order[preference_type]", "Web页面设计" %>
			<br>
			<br>
			<br>
		</div>
	</div>
	</div>

	<div class="row">
		<h3>设计信息</h3>
		<hr>
		<div class="col-md-12 font-gray">
			<%= f.input :title, label: "项目名称", input_html: { class: "form-control"}  %>
			<br>
			<%= f.input :description, label: "设计说明", input_html: { class: "form-control"}  %>
			<br>
			<%= f.input :style_and_regulation, label: "风格 & 规格", input_html: { class: "form-control"} %>
			<%= f.input :image, label: "设计意向图片上传", as: :file %>
			<br>
			<br>
		</div>
	</div>

	<div class="row">
		<h3>订单概要</h3>
		<hr>
		<div class="text-center font-gray">
			<div class="col-md-4">
				<h4>价格 </h4>
				¥2000
			</div>
			<div class="col-md-4">
				<h4>预计交付时间</h4>
				 <%= f.label Time.now.strftime("%Y年%m月%d日") %>
			</div>
			<div class="col-md-4">
				<h4>设计类型</h4>
				LOGO
			</div>
		</div>
	</div>

	<div class="row">
		<br>
		<br>
		<div class="col-md-12 text-center">
			<%= f.submit "提交设计委托", disable_with: "Submitting...", class: "btn btn-primary btn-lg"%>
		</div>
	</div>
	<% end %>
</div>
