<div class="col-md-12">

    <br><br><br><br><br>

    <h3>
        上传三份图片样张给用户
    </h3>
    <br><br>

    <%= simple_nested_form_for [:designer, @order, @version ] do |f| %>

    <div id="samples">
        <%= f.fields_for :samples do |builder| %>
        <%= render "sample_fields", :f => builder %>
        <% end %>
    </div>

    <%= f.link_to_add "Add a sample", :samples, :data => { :target => "#samples" }  %>

    <br>
    <br>
    <%= f.submit "Submit", data: { confirm: "确定要提交样张？" } %>
    <% end %>
</div>
