<div class="container-fluid">
  <br><br>
  <h2>所有订单</h2>
  <div class="row">
<div class="col-md-12">

<br>

<table class="responstable">
  <thead>
      <tr>
        <th>设计项目</th>
           <!-- <th> 是表头的意思 -->
        <th>提交时间</th>
        <th>订单状态</th>
        <th>查看订单</th>
        <th>删除订单</th>
      </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= link_to(order.title, admin_order_path(order)) %>
                                                <!-- (order)= order.id -->
    </td>


    <td>
      <%= order.created_at.strftime("%Y年%m月%d日") %>
    </td>
    <td>
      <%= order.state_cn %>
    </td>
     <td>
    <%= link_to("查看订单", admin_order_path(order), :class => "btn btn-sm btn-primary" ) %>
    </td>

    <td>
      <%= link_to("删除订单", admin_order_path(order), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-sm btn-danger") %>
    </td>

  </tr>
     <% end %>
    </tbody>
  </table>

       </div>
     </div>
  </div>
