<div class="container">
    <div class="well Designer-profile">
        <h2>
            编辑帐户信息
        </h2>
        <br>

        <%= simple_form_for @designer, url: designer_path(@designer.token) do |f| %>

        <%= f.input :name, label: '姓名：', error: '必须输入姓名，不能为空' %>
        <br>
        <%= f.input :designer_intro, label: '简介:' %>
        <br>


        <br>

        <div class="fileUpload btn bt-sm btn-default">
            <label>上传设计样式</label>
            <%= f.file_field :designer_products, as: :file, :multiple => true, :class => "upload"%>
        </div>
        <%= f.button :submit, '更新设计师信息', class: "btn bt-sm btn-primary pull-right" %>
      </div>
    <% end %>

</div>
