<div class="group">

  <h2 class="text-center">用户订单</h2>
  <br><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>订单号</th>
        <th>项目主题</th>
        <th>需求描述</th>
        <th>类型</th>
        <th>用户名</th>
        <th>创建时间</th>
        <th>用户样图</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.title %></td>
        <td><%= order.description %></td>
        <td><%= order.preference_type %></td>
        <td><%= order.user.email %></td>
        <td><%= order.created_at %></td>
        <td><%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %></td>
      </tr>
    </tbody>
  </table>

</div>
