
<div class="container">
<h2>所有用户订单</h2>
<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>单号</th>
      <th>项目名称</th>
      <th>设计说明</th>
      <th>订单状态</th>
      <th>设计类型</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td width="5%">
          <%= order.id %>
        </td>
        <td width="15%">
          <%= order.title %>
        </td>
        <td>
          <%= order.description %>
        </td>
        <td width="10%">
          <% case order.aasm_state %>
          <% when "paid" %>
            <p> 已付款 </p>
          <% when "picked" %>
            <p> 已接单 </p>
          <% when "versions_submitted" %>
            <p> 已提交 </p>
          <% when "version_selected" %>
            <p> 已确认 </p>
          <% when "completed" %>
            <p> 已完成 </p>
          <% end %>
        </td>
        <td>
          <%= order.preference_type %>
        </td>
        <td width="10%">
          <%= order.created_at %>
        </td>
        <td>
          <%= link_to("查看订单", designer_order_path(order), class: "btn btn-primary btn-sm") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
