

<div class="container">
<h2> 编辑帐户信息 </h2>
<br>
<%= simple_form_for @user, url: designer_profile_path(@user) do |f| %>
  <%= f.input :name, label: '请输入你的真实姓名：', error: '必须输入姓名，不能为空' %>
  <br>
  <%= f.input :designer_intro, label: '请输入简介：' %>
  <br>
  <%= f.file_field :designer_products, as: :file, :multiple => true %>
  <br>
  <%= f.button :submit, '更新帐户信息' %>
<% end %>
</div>
