
<div class="container">
  <h2 class= "well text-center">帐户信息</h2>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag current_user.gravatar_url(:size => 200) %>
      </div>
      <div class="col-md-7">
        <h4>姓名：<%= @users.name %></h4>
        <h4>邮箱：<%= @users.email %></h4>
        <h4>简介：</h4>
        <p><%= @users.designer_intro %><p>
      </div>
      <div class="col-md-2 pull-right">
        <%= link_to("编辑帐户信息",edit_designer_profile_path(current_user), class: "btn bt-sm btn-default") %>
      </div>
    </div>
   <br>

   <br><br>

   <h2 class="text-center"><u> 作品展示 </h2>

   <br><br>

   <div class="row">
   <% @users.designer_products.each do |f| %>
     <div class="col-md-4 text-center">
       <%= image_tag f.medium.url %>
     </div>
   <% end %>
   </div>
 </div>
