


<div class="container-fluid">

	<div class="row">
		<div class="col-md-6">
			<span><%= @order.last_message.sender.email %></span>
		</div>
		<div class="col-md-6">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#myModal">
		  		查看所有对话
			</button>
		</div>
	</div>
	<br>
	<p class="row well pull-left" style="font-size: 1.3em;">
		"<%= @order.last_message.body %>"
	</p>



</div>

<%= render partial: "common/selected_version", :locals => { order: @order } %>
<%= render partial: "common/designer_submitted_versions" %>
<%= render partial: "common/designer_add_versions", locals: { order: @order, current_stage: @order.stages.closed.last, single_version: true } %>
<br>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">所有对话</h4>
      </div>
      <div class="modal-body">
      	<% @order.stages.each do |stage| %>
        	<%= render partial:"common/show_messages", locals: {stage: stage} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
