<div class="col-md-10 col-xs-10 right-grey-border">

  <% if @order.attachment.present? %>
    <div class="row">
      <h2>最终稿件已上传</h2>    
    </div>
  <% else %>
    <h2>向客户提供最终稿件</h2>
  <% end %>
  <hr>

  <div class="row">
    <%= simple_form_for [:designer, @order] do |f|%>
      <%= f.input :attachment, label: "上传稿件" %>
      <%= f.submit "发送", class: "btn btn-defalut" %>
    <% end %>
    <br>
  </div>
  <hr>

  <%= render partial: "common/selected_stage", :locals => { :stage => @stage } %>

</div>

<div class="col-md-2 col-xs-2">
  <%= render partial: "common/user_stages_history_buttons", locals: { order: @order, stage: @stage, other_stages: @other_stages} %>
</div>
