<nav class="row navbar-diy">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 text-right navbar-logo-diy">
            <a id="text-and-botton-gray" href="/" style="text-decoration: none;">DesignDeck</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-2 col-md-offset-5 login-diy dropdown text-right">
        <% if !current_user %>
          <div class="text-right">
          <h5><%= link_to("注册", new_user_registration_path, style: "text-decoration: none") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to("登入", new_user_session_path, style: "text-decoration: none") %></h5>
          </div>
        <% else %>
          <a href="#" class="dropdown-toggle text-right" data-toggle="dropdown" style="text-decoration: none">
            <h5 id="text-and-botton-gray">▼&nbsp;&nbsp;<%= current_user.email %></h5>
                        <!-- <b class="caret"></b> -->
          </a>
          <ul class="dropdown-menu" id="shadow-over">
          <% if current_user.is_user? %>
            <li><%= link_to "进入订单页面", account_orders_path %></li>
          <% elsif current_user.qualified_designer? %>
            <li><%= link_to "设计师后台", designer_orders_path %></li>
          <% elsif current_user.unqualified_designer? %>
            <li><%= link_to "设计师申请", designer_path(current_user.token) %></li>
          <% elsif current_user.admin? %>
            <li>管理员后台</li>
          <% end %>
          <li class="divider"> </li>
          <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
          </ul>
        <% end %> 

        </div>
        <%= link_to new_account_order_path do %>
        <div class="col-md-2 text-center button02 box2">
          <h5>添加设计委托</h5>
        </div>
        <% end %>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
