<tr>
  <td>
    <%= order.id %>
  </td>
  <td>
    <%= link_to(order.title, designer_order_path(order)) %>
  </td>
  <td>
    <%= order.description %>
  </td>
  <td>
    <%= order.state_cn_designer %>
  </td>
  <td>
    <%= order.preference_type %>
  </td>
  <td>
    <%= order.created_at.strftime("%Y年%m月%d日%H:%M") %>
  </td>
  <td>
    <%= link_to("查看订单", designer_order_path(order), class: "btn btn-primary btn-sm") %>
  </td>
</tr>
