<div class="container">
  <h2>订单信息</h2>
  <hr>
  <div class="row">

    <div class="col-md-3">
      <% if order.image.present? %>
        <%= image_tag(order.image.thumb.url) %>
      <% end %>
    </div>

    <div class="col-md-4 font-gray">
      <h3><%= order.title %></h3>
      <p><%= order.description %></p>
      <p class="font-gray2"><%= "于" + order.created_at.strftime("%Y年%m月%d日 %H:%M") + "生成"%></p>
      <h5 class="font-gray">设计样式：<%= order.preference_type %></h5>
    </div>

    <% if order.designer.present? && current_user.is_user? %>
      <div class="col-md-5">
        <%= link_to "查看设计师信息", designer_path(order.designer.token), class: "btn btn-default pull-right" %>
      </div>      
    <% end %>

  
  </div>
  <hr>

</div>
