  <h2>订单信息</h2>
  <div class="row">

    <div class="col-md-3">
      <% if order.image.present? %>
        <%= image_tag(order.image.thumb.url) %>
      <% else %>
        <%= image_tag "http://us.123rf.com/450wm/valex113/valex1131504/valex113150400035/39341511-a-a-a-se-sa-a-a-as-e-cs-c-e-a-aoe-i-oea-za-e-a-a-c-a-aoe-cs-e-e-a-fc-a-efoea-e-e-cs-a-a-i-oea-a-i-oe.jpg", style:"width: 150px; height: 150px;" %>
      <% end %>
    </div>

    <div class="col-md-4 font-gray">
      <h3><%= order.title %></h3>
      <p><%= order.description %></p>
      <p class="font-gray2"><%= "于" + order.created_at.strftime("%Y年%m月%d日 %H:%M") + "生成"%></p>
      <h5 class="font-gray">设计样式：<%= order.preference_type %></h5>
    </div>

    <% if order.designer.present? && current_user.is_user? %>
      <div class="col-md-5">
        <%= link_to "查看设计师信息", designer_path(order.designer.token), class: "btn btn-default pull-right" %>
      </div>      
    <% end %>

  </div>
  <hr>

