<div class="col-md-12">

<h2 class="text-center">用户需求确认</h2>
<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>订单号</th>
      <th>项目主题</th>
      <th>需求描述</th>
      <th>类型</th>
      <th>用户名</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.id %></td>
      <td><%= @order.title %></td>
      <td><%= @order.description %></td>
      <td><%= @order.type_preference %></td>
      <td><%= @order.user.email %></td>
    </tr>
  </tbody>
</table>

<br><br><br><br><br>

<div class="container-fluid text-center">
  
  <div class="col-md-6">
    <h3>用户已选择的样式</h3>
    <%= render partial: "common/user_selected_style" %>
    <h4>用户选择的理由</h4>
    <% sample_version_with_comment = Version.samples_for_order(@order).where.not(comment_from_customer: nil).first %>
    <% if sample_version_with_comment.present? %>
      <h5 class="well"><%= "#{sample_version_with_comment.comment_from_customer}" %></h5>
    <% end %>
    
  </div>

  <div class="col-md-6 text-center">
    <h3>上传设计好的图片给用户</h3>
    <%= simple_form_for [:designer, @order] do |f| %>
    <div class="group">
      <div class="row">

        <div class="col-md-4">
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <%= f.input "image1_from_designer", as: :file %>
        </div>
      </div>
    </div>
    <%= f.submit "Submit", data: { confirm: "这是第二周的内容...." } %>
    <% end %>

  </div>
  
</div>



