


<div class="well text-center">
  <h3>用户已选择好方案</h3>
</div>
 <%= render :partial => "common/selected_version", :locals => { :order => @order } %>

<h3> 上传设计好的图片给用户 </h3>
<br><br>


<% if false %>
  <%= simple_form_for [:designer, @order] do |f| %>
  <div class="group">
    <div class="row">

      <div class="col-md-4">
          <% if @versions.first.present? %>
          <%= image_tag(@versions.first.image_from_designer.medium.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
        <%= f.input "image1_from_designer", as: :file %>
      </div>
    </div>
  </div>


    <%= f.submit "Submit", data: { confirm: "你确定要提交当前图片吗？" } %>
  <% end %>
  
<% end %>

