
<!-- t370: 使用conversation显示comments -->
<% if stage.conversation.present? %>

	<div class="container-fluid">
		<% stage.conversation.messages.each do |message| %>

			<div class="row" style="margin-left: 15px; margin-right: 15px;">

 				<% if message.sender == current_user %>
					<p align="right" class="message-sender-name">
						<%= "#{message.sender.email}: " %>
					</p>
					<p align="right" class="message-sender-name">
						<%= "#{std_time(message.created_at)} " %>
					</p>
					<div class="message-right-box">	
						<div class="well" style="background-color: #6BC9CA;">
							<p class="message-right-content"><%=  "#{message.body}" %></p>
						</div>															
					</div>					

				<% else %>
					<p class="message-sender-name"><%= "#{message.sender.email}: " %></p>
					<p class="message-sender-name"><%= "#{std_time(message.created_at)}: " %></p>
					<div class="well message-left" style="float: left;">
						<p><%= "#{message.body}" %></p>
					</div>				
				<% end %>
 			</div>

		<% end %>		
	</div>				
		
<% end %>





