<div class="col-md-10 col-xs-10 right-grey-border">
  <% if @order.attachment.present? %>
    <div class="row">
      <div class="col-md-10">
        <h2>下载最终稿件</h2>
      </div>

      <% if false %>
        <div class="col-md-2">
          <%= link_to("下载", @order.attachment_url, download: "", class: "btn btn-warning with-button")%>
        </div>
      <% end %>


    </div>
  <% else %>
    <div class="row">
      <div class="col-md-10">
        <h2>等待设计师上传最终稿件...</h2>
        <br>
      </div>



      <% if false %>
        <div class="col-md-2">
          <br>
          <button type="button" class="btn btn-primary with-button" disabled="disabled">下载</button>
        </div>
      <% end %>



    </div>
  <% end %>

  <%= render partial: "common/selected_stage", :locals => { :stage => @stage } %>



  <!-- 设计师的评价系统 -->

        <!-- 如果未评分，则允许评分 -->
        <% if @order.rating.blank? %>
        <h3>给设计师的服务做个评级吧：
          <span id="rating-for-message-<%= @order.id %>"></span></h3>
        <!-- 如果评过分，则锁定 -->
        <% else %>
          <h3>已为设计师评级:
          <span id="raty-for-message-<%= @order.id %>" ></span></h3>
        <% end %>



      <script>
      $(function() {

        // 初始化rating选框
        function initRating(obj) {
          obj.raty({
            path:"/",
            starOff: 'star-off.png',
            starOn: 'star-on.png',
            size: 32,
            click: function(score, evt) {
              // ajax提交
              ajaxRating(score);
              // 锁定rating
              lockRating(obj,score)
            }
          });
        };

        // ajax提交评级
        function ajaxRating(score) {
          $.ajax({
            url: '<%= rating_account_orders_path %>',
            type: 'POST',
            dataType: 'json',
            data: {
              'order_id' : <%= @order.id %>,
              'rating': score
            },
          })
          .done(function() {
            console.log("raty success");
          })
          .fail(function() {
            console.log("raty error");
          })
          .always(function() {
            console.log("raty complete");
          });
        };

        // 锁定星星不可重新提交
        function lockRating(obj,score) {
          // 锁定部分样式
          obj.raty({
            path:"/",
            starOff: 'star-off.png',
            starOn: 'star-on.png',
            size: 32,
            readOnly: true, score: score
          });
        };

        // 允许评分的对象
        var ratableObj = $('#rating-for-message-<%= @order.id %>');
        initRating(ratableObj);
        // 已经评过分的对象
        var unRatableObj = $('#raty-for-message-<%= @order.id %>');
        lockRating(unRatableObj,'<%= @order.rating %>');

      });
      </script>
      <!-- 设计师的评价系统 -->
</div>


<div class="col-md-2 col-xs-2">
  <%= render partial: "common/user_stages_history_buttons", locals: { order: @order, stage: @stage, other_stages: @other_stages} %>
</div>
