
<div class="container">
  <div class="row">
    <div class="col-md-12 head-diy">
      <h2>您的订单<h2>
    </div>
  </div>
<%#= simple_form_for [:account, @order] do |f| %>
  <div class="row">
    <div class="col-md-12 cart">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 cart-info">
          <div class="row">
            <div class="col-md-3 cart-image">
              <%# if order.image.present? %>
                <%#= image_tag(order.image.thumb.url) %>
              <%# end %>
              <%= image_tag("http://placehold.it/150x150&text=No Pic") %>
            </div>
            <div class="col-md-4"><h3><%= @order.title %></h3></div>
            <div class="col-md-4 text-right cart-text">
              <p>价格:&nbsp;&nbsp;<br>
              ¥2000
            <p>
            </div>

          </div>
          <div class="col-md-12 cart-text2">
            <hr>
            <div class="col-md-10">
              <p>设计类型：<%= @order.preference_type %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  设计规格：2000x2000</p>
            </div>
            <div class="col-md-2 text-right">
              <p>订单状态&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-time">
            <p><%= @order.created_at %>&nbsp;.</p>
            <hr>
            <h4>设计描述：</h4>
            <p><%= @order.description %></p>
          </div>
            <div class="col-md-10 col-md-offset-1">
              <% if @order.aasm_state = "placed" %>
                <%= link_to account_order_pay_with_alipay_path(@order), method: :post, style:"text-decoration: none;" do %>
                  <button class="btn btn-primary checkout-button btn-block" > <h4>立即付款</h4> </button>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
