

<!-- 检测到designer已经提交3张sample时，提供一个可以选择其中一个sample的页面 -->

<div class="container-fluid">

	<!-- 一定要有3张sample -->
	<% if Version.decided_version_for_stage(@stage).any? %>
		<div class="well text-center">
			<p>已选择设计师的初步方案，等待设计提交初稿</p>
		</div>
	<% else %>
		<h2 class="">请选择新提交的方案</h2>
		<% submitted_versions = @stage.versions %>

		<%= form_tag account_order_select_version_path(@order), method: :post do %>

			<div class="form-group">
				<% submitted_versions.each do |version| %>
					<% samples = version.samples %>
					<div class="row">
						<div class="col-md-11">
							<% samples.each do |sample| %>
							<div class="col-md-3">
								<%= render_sample(sample) %>
							</div>
							<% end %>
						</div>
						<div class="col-md-1">
							<%= radio_button_tag "order[version_id]", version.id, checked = true, style: "vertical-align: middle;" %>
						</div>
					</div>
					<hr>
				<% end %>
				<h2>评论</h2>
				<%= render :partial => "common/show_messages", locals: {stage: @order.stages.last} %>

				<br>
				<%= render :partial => "common/comment_area" %>

				<% if false %>
					<h4>添加评论</h4>
					<%= text_area_tag "order[comment]", nil, class: "form-control", style: "width:100%; min-height:200px;" %>
					<br>
				<% end %>


				<hr>
			</div>



	  		<div class="form-action">
	   			<%= submit_tag "需要设计师更新", disable_with: "Submitting...", class: "btn btn-primary pull-right" %>
	   			<%= submit_tag "确认为最终稿", disable_with: "Submitting...", class: "btn btn-success pull-left" %>
	    	</div>

		<% end %>

	<% end %>


</div>
