  <% if @order.attachment.present? %>
    <div class="row">
    </div>
  <% else %>
  <% end %>

  <%= render partial: "common/selected_stage", :locals => { :stage => @stage } %>



  <!-- 设计师的评价系统 -->

        <!-- 如果未评分，则允许评分 -->
        <% if @order.rating.blank? %>
        <h3>给设计师的服务做个评级吧：
          <span id="rating-for-message-<%= @order.id %>"></span></h3>
        <!-- 如果评过分，则锁定 -->
        <% else %>
          <h3>已为设计师评级:
          <span id="raty-for-message-<%= @order.id %>" ></span></h3>
        <% end %>



      <script>
      $(function() {

        // 初始化rating选框
        function initRating(obj) {
          obj.raty({
            path:"https://ooo.0o0.ooo/2016/11/21/",
            starOff: '5832a40577f56.png',
            starOn: '5832a40578015.png',
            size: 32,
            click: function(score, evt) {
              // ajax提交
              ajaxRating(score);
              // 锁定rating
              lockRating(obj,score)
            }
          });
        };

        // ajax提交评级
        function ajaxRating(score) {
          $.ajax({
            url: '<%= rating_account_orders_path %>',
            type: 'POST',
            dataType: 'json',
            data: {
              'order_id' : <%= @order.id %>,
              'rating': score
            },
          })
          .done(function() {
            console.log("raty success");
          })
          .fail(function() {
            console.log("raty error");
          })
          .always(function() {
            console.log("raty complete");
          });
        };

        // 锁定星星不可重新提交
        function lockRating(obj,score) {
          // 锁定部分样式
          obj.raty({
            path:"https://ooo.0o0.ooo/2016/11/21/",
            starOff: '5832a40577f56.png',
            starOn: '5832a40578015.png',
            size: 32,
            readOnly: true, score: score
          });
        };

        // 允许评分的对象
        var ratableObj = $('#rating-for-message-<%= @order.id %>');
        initRating(ratableObj);
        // 已经评过分的对象
        var unRatableObj = $('#raty-for-message-<%= @order.id %>');
        lockRating(unRatableObj,'<%= @order.rating %>');

      });
      </script>
      <!-- 设计师的评价系统 -->


